@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https: //fonts.googleapis.com/css2?family=Sacramento&family=Work+Sans:wght@100;300;400;600;700&display=swap');

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}
.hero::before{
    content: '';
    background-image: url(../../img/IMG-20230813-WA0006.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness();
}

.hero{
    position: relative;
    min-height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
}

.calon{
    font-family: 'Sacramento', cursive;
}
.simply-countdown>.simply-section {
    background-color: #f14e95;
    color: white;
}
.simply-countdown{
    margin-top: 1rem;
}

/* laptop */ 
@media (min-width: 769px) {
.hero{
    justify-content: center;
    align-items: center;
}

    .simply-countdown>.simply-section {
        padding: 50px;
    }

   
}

/* tablet */
@media (max-width: 768px) {

.hero {
        justify-content: center;
        align-items: center;
    }
    .simply-countdown>.simply-section {
        padding: 40px;
        
    }

   
}

/* mobile phone */
@media (max-width: 576px) {
.hero {
        justify-content: center;
        align-items: center;
    }
    .simply-countdown>.simply-section {
        padding: 35px;
        
    }

}